# ===== Required ENVS ======
PORT=3002
HOST=0.0.0.0
USE_DB_AUTHENTICATION=false

# ===== Optional ENVS ======
BULL_AUTH_KEY=change-me-to-something-secure

# === PostgreSQL Database Configuration ===
POSTGRES_USER=firecrawl
POSTGRES_PASSWORD=change-me-to-something-secure
POSTGRES_DB=firecrawl

# === Proxy Configuration ===
# ALL_PROXY=http://proxy.example.com:8080
# PROXY_SERVER=socks5://proxy.example.com:1080
# no_proxy=localhost,127.0.0.1,.local,192.168.0.0/16,172.16.0.0/12
